@{
    ViewData["Title"] = "Home Page";
}


<br />
<br />
<br />
<div class="container">
    <div>
       

        <img class="responsive-img row z-depth-2" src="~/images/bookcase.jpg" />
     

    </div>

</div>
<br />
<br />
<br />
<hr />
<br />
<h4 class="center-align cyan-text text-darken-4">
    <i class="material-icons">bookmark_border</i>
    Context
</h4>
<br /> 
<hr />
<br />
<br />
<div class="">
    <div class="row center-align">
        <div class="col s4 center-align cyan-text text-darken-4">
            <i class="medium material-icons">book</i>
            <br />
            <h5>Find a Book</h5>
        </div>
        <div class="col s4 center-align cyan-text text-darken-4">
            <i class="medium material-icons">public</i>
            <br />
            <h5>Get the Context</h5>
        </div>
        <div class="col s4 center-align cyan-text text-darken-4">
            <i class="medium material-icons">sentiment_very_satisfied</i>
            <br />
            <h5>Happy Reading!</h5>
        </div>
    </div>




</div>
<br />

