@model Context.Models.UserBook

@{
    ViewData["Title"] = "Delete";
}

<br />
<h4>
    Delete @Html.DisplayFor(model => model.Book.Title) by @Html.DisplayFor(model => model.Book.AuthorFirstName) @Html.DisplayFor(model => model.Book.AuthorLastName)?
</h4>
<div class="center-align">
    <hr />
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserBookId" />
        <input type="submit" value="Delete" class="btn deep-purple accent-2" />
        <button asp-action="Index" class="btn pink accent-4">Cancel</button>
    </form>
    <br />
</div>
