@model Context.Models.UserBook

@{
    ViewData["Title"] = "Edit";
}

<h2>Comments for @Html.DisplayFor(model => model.Book.Title)</h2>
<hr />
<div class="row">
    <div class="col s8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserBookId" />
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control"/>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <input type="submit" value="Save" class="btn" />
                <a href="javascript:history.go(-1)" Index" class="btn pink accent-4">Cancel</a>
            </div>
        </form>
    </div>
</div>
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
